.viewOrderTable.categoryViewtbl thead tr th:nth-child(1),
.viewOrderTable.categoryViewtbl tbody tr td:nth-child(1) {
  width: 78%;
  text-align: left;
}
.viewOrderTable.categoryViewtbl
  tbody
  tr
  td:nth-child(1)
  .productScreenproductName {
  color: var(--mainColor) !important;
  width: 78%;
  text-align: left;
}
.viewOrderTable.categoryViewtbl thead tr th:nth-child(2),
.viewOrderTable.categoryViewtbl tbody tr td:nth-child(2) {
  width: 22%;
  text-align: center;
}
.viewOrderTable.categoryViewtbl tbody tr:hover {
  cursor: auto;
}
.table-fixed.categoryViewtbl th {
  background: #fff !important;
  border: 1px solid #b3b3b3 !important;
  border-top: none !important ;
  border-left: none !important;
  border-right: none !important;
  background: white;
  position: sticky;
  top: 60px; /* Don't forget this, required for the stickiness */
  box-shadow: 0px 1px 0 0px rgb(0, 0, 0, 0.15);
  z-index: 99;
}
.catFirstCell {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.catFirstCell p {
  margin-left: 10px;
}

.noSearchResultContainer {
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tableButton {
  background-color: white;
}
.categoryTblButton {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--brightGreen);
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.categoryTblButton:hover {
  background: var(--brightGreen);
}
.categoryTblButton > span {
  color: var(--brightGreen);
  margin: 0 2px;
}
.categoryTblButton:hover > span {
  color: var(--white);
}
.categoryTblButton:hover > span svg {
  fill: var(--white);
}

.categoryTableAction {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.categoryTableAction button {
  margin-left: 8px;
  margin-right: 8px;
  min-width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.categoryTblDeletButton {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--red);
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.categoryTblDeletButton:hover {
  background: var(--red);
}
.categoryTblDeletButton > span {
  color: var(--red);
  margin: 0 2px;
}
.categoryTblDeletButton:hover > span {
  color: var(--white);
}
.categoryTblDeletButton:hover > span svg {
  fill: var(--white);
}
