.body_Content_Section {
  background: transparent;
  margin-top: 5.5rem;
  position: relative;
  float: left;
  width: 100%;
  padding: 70px 0 20px;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.login_page_top_content {
  height: 120px;
  margin-bottom: 20px;
}

.mainPage.login_page_top_content {
  height: 100px;
  margin-bottom: 20px;
  /* border: 1px solid; */
}

.mb20 {
  margin-bottom: 20px;
}

.login_page_top_content h1 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: #414143;
  margin-bottom: 2px;
}

.login_page_top_content h1 b {
  color: #27aae1;
  font-weight: 400;
}

.login_page_top_content p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--mediumGray);
}



.login_page_form_section .form-group label {
  color: var(--mainColor);
  margin-bottom: 0;
  font-size: 15px;
  /* position: absolute;
    top: -30px; */
  position: relative;
  top: -67px;
  transition: color 0.4s ease;
}

.login_page_form_section .form-group input:focus+.control-label {
  color: #ddd;
}

.login_page_form_section .form-group input {
  border: none;
  border-bottom: 1px solid;
  border-color: #ddd;
  transition: all 0.4s ease;
  border-radius: 0;
  padding: 5px 0 20px;
  color: var(--mainColor);
  font-size: 1.1rem;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.12);
}

.login_page_form_section .form-group input.form-control::placeholder {
  color: #ddd;
  /* opacity: 0.5; */
}


.login_page_form_section .form-group input:focus {
  border-color: var(--mainColor);
  color: var(--mainColor);
  outline: 0;
  text-shadow: none;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.12) !important;
}

.login_btn_next.login_disable {
  background: var(--white);
  border: 1px solid #cecece;
  color: var(--lightGray);
}

.login_btn_next.login_disable:hover,
.login_btn_next.login_disable:focus {
  background: var(--white) !important;
  border: 1px solid #cecece !important;
}

.login_btn_next {
  background: var(--brightGreen);
  border: 1px solid #4ac600;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  min-width: 175px;
  min-height: 48px;
  margin: 8px auto 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: var(--white);
}

.login_btn_next:hover,
.login_btn_next:focus {
  background: var(--darkGreen) !important;
  border: 1px solid var(--darkGreen) !important;
}

.error_paragraph {
  min-height: 30px;
  color: var(--red);
  font-size: 0.8rem;
  padding-top: 5px;
  margin-top: -25px;
  margin-bottom: 28px;
}

.agentImage {
  text-align: center;
  position: absolute;
  top: -117px;
  z-index: 99;
  left: 50%;
  margin-left: -40px;
  -webkit-transition: bottom 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
  -moz-transition: bottom 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
  -o-transition: bottom 0.2s ease-in-out, -o-transform 0.2s ease-in-out;
  transition: bottom 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.agentImage img {
  width: 100%;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.avatar_img {
  background: url("../../../assets/icons/img_Circle.png") center center no-repeat;
  background-size: auto;
  display: inline-block;
  border-radius: 50%;
  flex-shrink: 0;
  flex-grow: 0;
  -webkit-transition: width 0.15s, height 0.15s, background-size 0.15s;
  -moz-transition: width 0.15s, height 0.15s, background-size 0.15s;
  -o-transition: width 0.15s, height 0.15s, background-size 0.15s;
  transition: width 0.15s, height 0.15s, background-size 0.15s;
}

.avatar_img.med {
  width: 80px;
  height: 80px;
  background-size: 80px 80px;
}

.backIconMain {
  position: absolute;
  left: 16%;
  z-index: 9;
  cursor: pointer;
}

/* .backIconMain:hover, */
.backIconMain:hover span svg {
  fill: var(--mainColor);
}

.backIcon:hover {
  cursor: pointer !important;
}

.backIcon {
  background: url("../../../assets/icons/Back.svg");
  background-size: cover;
  width: 25px;
  height: 25px;
  display: block;
  margin-right: 10px;
  top: 2px;
  position: relative;
}

.login.loaderCircle {
  width: 24px !important;
  height: 24px !important;
  color: var(--white) !important;
}

.downloadButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.downloadButton button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 5px 15px;
  border: none;
  box-shadow: none;
}

.googlePlay {
  background: url("../../../assets/images/googleplay_black.svg");
  width: 135px;
  height: 42px;
  display: inline-block;
  content: "";
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  top: 0px;
  margin-right: 0px;
}

.appStore {
  background: url("../../../assets/images/appstore_black.svg");
  width: 135px;
  height: 42px;
  display: inline-block;
  content: "";
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  top: 0px;
  margin-right: 0px;
}

.deviceAlertContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 15px 14px;
}

.deviceAlertContent p {
  margin: 0 0 10px 0;
  font-size: 1rem;
  color: var(--mediumGray);
}

#recaptcha-container>div {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.flagImgAndInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.flagImg {
  position: relative;
  margin-right: 0;
}

.flagImg>img {
  width: 30px;
  height: auto;
  margin-right: 8px;
}

.flagDropdownList {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
}

.flagDropdownList img {
  width: 25px;
  height: 17px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.12);
}

.flagDropdownList p {
  margin-bottom: 0;
  margin-left: 5px;
}

.flagDropDownRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.flagDropSeperator {
  width: 1px;
  height: 24px;
  border-right: 1px solid #cecece;
  border-right: 1px solid var(--lightGray);
  position: absolute;
  left: 0;
  top: 11px;
}

.flagDropDownRight input {
  font-size: 16px;
  line-height: 24px;
  padding: 11px 16px 10px 10px;
  border: none;
  border-bottom: 1px solid var(--lightGray);
  border-left: none;
  border-left-color: currentcolor;
  width: 100%;
  color: #565656;
  color: var(--mediumGray);
  border-radius: 0;
  transition: border-color 0.2s ease-in-out;
}

.flagDropDownRight input::placeholder {
  color: #ababab;
}

.flagPrependText {
  background-color: transparent;
  position: absolute;
  left: 4px;
  top: 0;
  width: 45px;
  border-radius: 4px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 4px;
}

.flagDropDownRight input:focus {
  box-shadow: none;
  outline: none;
}

.flagDropDownRight input.prependtextAdd {
  padding: 11px 16px 10px 46px;
}

.inputErrorPara {
  color: #e51a32;
  color: var(--red);
  font-size: 13px;
  margin-bottom: 0;
  position: relative;
  top: -6px;
  min-height: 22px;
}

.textCenter {
  text-align: center;
}

.countrySelectCheckmark {
  background: url(/src/assets/images/CheckMark_green.svg);
  background-size: auto;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  content: "";
  position: absolute;
  right: 5px;
}

.flagDropDown .dropdown-menu {
  width: 250px;
  height: 160px;
  overflow-y: scroll;
  border: 1px solid #cecece;
  border: 1px solid var(--lightGray);
  top: -3px !important;
}

.loginPageSubHeading {
  margin-bottom: 30px;
}

.loginPageSubHeading p:nth-child(1) {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: #414143;
  margin-bottom: 2px;
}

.loginPageSubHeading p:nth-child(2) {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--mediumGray);
}

.otpVerificationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.otpVerificationContainer>input {
  font-size: 16px;
  line-height: 24px;
  padding: 11px 16px 10px 10px;
  border: none;
  border-bottom: 1px solid var(--lightGray);
  border-left: none;
  border-left-color: currentcolor;
  max-width: 230px;
  color: #565656;
  color: var(--mediumGray);
  border-radius: 0;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.otpVerificationContainer>input::placeholder {
  color: #ababab;
}

.verifyCodeBtnEnabled {
  background: var(--brightGreen);
  border: 1px solid #4ac600;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  min-width: 175px;
  min-height: 48px;
  margin: 30px auto 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: var(--white);
}

.verifyCodeBtnDisabled {
  background: var(--white);
  border: 1px solid #cecece;
  color: var(--lightGray);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  min-width: 175px;
  min-height: 48px;
  margin: 30px auto 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  pointer-events: none;
}