.verificationInputMainCont {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: -30px; */
}
.verficationSection .login_page_top_content {
  margin-bottom: 10px;
}
.verificationInputInnerMain {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.verificationInputInnerCont {
  width: 25%;
}
.verificationInputInnerCont input {
  width: 90% !important;
  border: none;
  border-bottom: 1px solid;
  margin: 0 14px;
  border-color: #ddd;
  transition: all 0.4s ease;
  border-radius: 0;
  padding: 10px 0 15px;
  color: var(--mainColor);
  font-size: 1.1rem;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.12);
}
.verificationInputInnerCont input:focus {
  border-color: var(--mainColor);
  color: var(--mainColor);
  outline: 0;
  text-shadow: none;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.12) !important;
}
.verificationInputInnerCont span {
  display: none;
}
.enterDigitTex {
  color: var(--darkGray);
  margin-bottom: 5px;
}
.waitingForCode {
  float: left;
  width: 100%;
  margin: 0px 0 18px;
}
.waitingCodeTex {
  color: var(--mediumGray);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
}
.verificationActionSectiion {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.verification_btn.verification_disable {
  background: #fff;
  border: 1px solid #cecece;
  color: var(--lightGray);
}
.verification_btn.verification_disable:hover,
.verification_btn.verification_disable:focus {
  background: var(--white) !important;
  border: 1px solid #cecece !important;
  color: var(--lightGray) !important;
}
.verification_btn {
  background: #fff;
  border: 1px solid var(--mainColor);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  min-width: 175px;
  min-height: 48px;
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: var(--mainColor);
}
.verification_btn:hover,
.verification_btn:focus {
  background: #fff !important;
  border: 1px solid var(--mainColor) !important;
  color: var(--mainColor);
}
.resendIcon svg {
  fill: var(--mainColor);
  position: relative;
  left: -6px;
}
.resendIcon_white svg {
  fill: var(--lightGray);
  position: relative;
  left: -6px;
}
.callusIcon_white {
  background: url("../../../assets/icons/Callme_white.svg");
  background-size: cover;
  width: 20px;
  height: 21px;
  display: block;
  margin-right: 10px;
  top: 0px;
  position: relative;
}
.invaliOtpCode {
  color: var(--red);
  font-size: 0.8rem;
  margin-top: 5px;
  margin-bottom: 0;
  height: 25px;
  line-height: 25px;
  /* border: 1px solid; */
}
.callusIcon {
  background: url("../../../assets/icons/Callme.svg");
  background-size: cover;
  width: 20px;
  height: 21px;
  display: block;
  margin-right: 10px;
  top: 0px;
  position: relative;
}
.displayNone {
  display: none;
}
.modalTelcosMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  flex-wrap: wrap;
  flex: 1;
}
.modaltelecosDescription {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1em;
  color: var(--mediumGray);
}
.selectNetworModal .modalBodyContent {
  padding: 30px 0 15px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
}
.modal-content {
}
.modalBodyButton {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: transparent;
  border: 1px solid var(--lightGray);
  box-shadow: 0 0 8px 0 rgb(0, 0, 0, 0, 0.12) !important;
  margin: 12px 10px 30px;
  padding: 5px 10px 10px;
  width: 26%;
  min-height: 95px;
}
.modalBodyButton img {
  width: 95%;
  opacity: 0.8;
}
.modalBodyButton:hover img {
  opacity: 1;
}
.modalBodyButton:hover {
  background: transparent;
}
.modalBodyButton i {
  opacity: 0.7;
}
.modalBodyButton:hover i {
  opacity: 1;
}
.modalBodyButton span {
  color: var(--darkGray);
  font-size: 14px;
  text-align: center;
}
.modalBodyButton span:nth-child(1) {
}
.modalBodyButton span:nth-child(2) {
}
.telenorIcon {
  background: url("../../../../src/assets/images/Telenor.png");
  width: 118px;
  height: 57px;
  display: inline-block;
  content: "";
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  top: 0px;
  margin-right: 0px;
}
.ufoneIcon {
  background: url("../../../../src/assets/images/Ufone.png");
  width: 118px;
  height: 57px;
  display: inline-block;
  content: "";
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  top: 0px;
  margin-right: 0px;
}
.jazzIcon {
  background: url("../../../../src/assets/images/Jazz.png");
  width: 118px;
  height: 57px;
  display: inline-block;
  content: "";
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  top: 0px;
  margin-right: 0px;
}
.zongIcon {
  background: url("../../../../src/assets/images/zong.png");
  width: 118px;
  height: 57px;
  display: inline-block;
  content: "";
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  top: 0px;
  margin-right: 0px;
}
.scomIcon {
  background: url("../../../../src/assets/images/SCO-Logo.png");
  width: 118px;
  height: 57px;
  display: inline-block;
  content: "";
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  top: 0px;
  margin-right: 0px;
}

.modalHeader {
  justify-content: space-between;
  border-bottom: 1px solid var(--lightGray);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.17);
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modalHeader p {
  margin-bottom: 0;
  color: var(--mainColor);
}
.headerleftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
  font-size: 1rem;
}
.headerleftSide span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headerRightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}
.headerRightSide span {
  position: relative;
  top: 1px;
  cursor: pointer;
}
.loaderCircle .Products {
  color: var(--mainColor) !important;
}
.veirficationCardBox {
  background: #fff;
  height: auto;
  overflow: auto;
  padding: 20px 18px;
  border-radius: 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
.havingTroubleBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.havingTroublePhone {
  color: var(--skyBlue);
}
.loaderCircle.verficatoinSpin {
  color: var(--mainColor) !important;
}
