.login_page_form_section.editBusinessDetailForm {
  float: left;
  width: 100%;
  margin: 20px 0 0 !important;
}
.login_page_form_section.editBusinessDetailForm .form-group {
  margin-bottom: 0px;
  float: left;
  width: 47%;
  margin-right: 20px;
}
.accountBoxLink {
  position: relative;
}
.editBusinessDetailForm .accountBoxLink .buytoko_linktext {
  top: 0;
}
.editBusinessDetailForm .addItemINputRowCont {
  padding: 0 0;
}
.businessCategory {
  position: relative;
  width: 47%;
}
.businessCategory .dropdown {
  font-size: 14px;
  color: var(--mediumGray);
}
.businessCategory .dropdown-item {
}
.businessCategory .dropdown .btn-success {
  background: transparent;
  border-color: var(--mainColor);
  color: var(--mainColor);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 7px 0px 15px;
  top: -3px;
  font-size: 16px;
  box-shadow: 0 1px 0px rgb(0 0 0 / 12%);
  border-bottom: 1px solid var(--lightGray) !important;
  border-radius: 0;
  border: none;
}
.businessCategory .btn-success:not(:disabled):not(.disabled).active,
.businessCategory .btn-success:not(:disabled):not(.disabled):active,
.businessCategory .show > .btn-success.dropdown-toggle {
  background: transparent;
  border-color: var(--mainColor) !important;
  border-bottom: 1px solid var(--mainColor) !important;
  box-shadow: 0 1px 0px rgb(0 0 0 / 12%);
  border: none;
  color: var(--mainColor);
}
.businessCategory .dropdown button.dropdown-toggle::after {
  content: "";
  display: inline-block;
  background: url(../../../assets/images/DropDown.svg);
  height: 18px;
  width: 18px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  border: none;
}
.businessCategory .dropdown-menu .dropdown-item.active,
.businessCategory .dropdown-menu .dropdown-item:active {
  background: transparent;
  color: var(--mediumGray);
}
.businessCategory .dropdown-menu {
  width: 100%;
}
.businessCategory .dropdown-item:hover,
.businessCategory .dropdown-item:focus {
  color: var(--white) !important;
  background: var(--mainColor) !important;
}
.businessCategory .dropdown-menu.show {
  height: 250px;
  overflow-x: auto;
  scrollbar-color: var(--mainColor) var(--extraLightGray);
}
.businessCategory .dropdown-menu.show::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--extraLightGray);
}
.businessCategory .dropdown-menu.show::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
.businessCategory .dropdown-menu.show::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
}
.businessCatError {
  position: relative;
  top: 10px;
}
.editBusniessSuccessCont {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_page_form_section .form-group label.busniessCatLabel {
  top: -70px;
}
.otherCategoryInputBox {
  position: relative;
}
.clearCategoryButton {
  position: absolute;
  right: 0;
  bottom: 70px;
  background-color: #ffff;
  border: none;
}
.paddTop40 {
  padding-top: 20px !important;
}
/* .login_page_form_section.editBusinessDetailForm .form-group {
  position: relative;
}
.login_page_form_section.editBusinessDetailForm .form-group .css-h4y409-MuiList-root {
  position: absolute;
  z-index: 1;
  background-color: white;
  overflow-y: auto;
  height: 250px;
  width: 100%;
  border: saddlebrown;
} */
/* .MuiList-root {
  position: absolute;
} */
.cityDropdown .MuiAutocomplete-input::-webkit-input-placeholder {
  color: #ddd;
}
.cityDropdown .MuiAutocomplete-input:-ms-input-placeholder {
  color: #ddd;
}
.cityDropdown .MuiAutocomplete-input::-ms-input-placeholder {
  color: #ddd;
}
.cityDropdown .MuiAutocomplete-input::placeholder {
  color: #ddd;
}
.form-group.cityDropdown .MuiAutocomplete-input {
  width: 100%;
  padding: 5px 15px 11px 0 !important;
  position: relative;
  top: -6px;
  z-index: 99;
  background: transparent;
}
.form-group.cityDropdown label {
  top: -73px !important;
}
.cityDropdownList.MuiAutocomplete-listbox {
  height: 250px;
  overflow-x: auto;
  scrollbar-color: var(--mainColor) var(--extraLightGray);
}
.cityDropdownList.MuiAutocomplete-listbox::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--extraLightGray);
}
.cityDropdownList.MuiAutocomplete-listbox::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
.cityDropdownList.MuiAutocomplete-listbox::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
}
.cityDropdownList.MuiAutocomplete-listbox .MuiAutocomplete-option.Mui-focused {
  background: var(--mainColor);
  color: var(--white);
}
.cityDropdownList.css-b7k0tb-MuiAutocomplete-listbox
  .MuiAutocomplete-option[aria-selected="true"] {
  background: var(--mainColor) !important;
  color: var(--white) !important;
}
.css-b7k0tb-MuiAutocomplete-listbox
  .MuiAutocomplete-option[aria-selected="true"] {
  background: var(--mainColor) !important;
  color: var(--white) !important;
}
.cityDropdownList.MuiAutocomplete-listbox
  .MuiAutocomplete-option.Mui-focused:hover,
.cityDropdownList.MuiAutocomplete-listbox
  .MuiAutocomplete-option.Mui-focused:focus {
  color: var(--white) !important;
  background: var(--mainColor) !important;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.cityDropdownList.MuiAutocomplete-listbox li {
  padding: 0.25rem 1.5rem;
}
.css-9e5uuu-MuiPaper-root-MuiAutocomplete-paper {
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 4px 0px 4px 4px !important;
  top: -2px !important;
  position: relative;
}
.cityDropdownListInput {
  position: relative;
}
.citylistDropDownIcon {
  content: ".";
  display: block;
  background: url(../../../assets/images/DropDown.svg);
  height: 18px;
  width: 18px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  right: 0;
  cursor: pointer;
}

.MuiCollapse-root {
  height: 0;
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
