/* .categoryImage .uploadFIleCont {
    width: 110px;
    justify-content: flex-start;
    min-height: 100px;
    margin: 0;
    top: -60px;
}
.categoryImage .uploadFIleCont button {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    width: 110px;
    padding: 0 0px;
} */
/* .editCategoryinner{
    display: flex;
    flex-direction: row;
    position: relative;
    top: -60px;
}
.editCategoryinner img{
    border: 1px solid #ddd;
    padding: 2px 2px;
    border-radius: 5px;
}
.categoryIconimage{
    position: relative;
    background-Color: red;
    border-width: 0; 
    border-radius: 30px;
    height: 25px; 
    width: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    left: -20px;
    top: -4px;
} */